<form [formGroup]="registerForm" (submit)="registerForm.valid && register()">
  <h2 class="text-center text-primary mb-5">Sign Up</h2>
  <div class="form-outline mb-4">
    <label class="control-label" style="margin-right: 10px;"><strong class="text-primary">I am a:</strong></label>
    <label class="radio-inline">
      <input type="radio" value="male" formControlName="gender"> Male
    </label>
    <label class="radio-inline">
      <input type="radio" value="female" formControlName="gender" style="margin-left: 10px;"> Female
    </label>
  </div>
  <app-text-input [formControl]="username" [label]='"Username"'></app-text-input>
  <app-text-input [formControl]="knownAs" [label]='"Known As"'></app-text-input>
  <app-date-input [formControl]="dateOfBirth" [label]='"Date Of Birth"' [maxDate]="maxDate"></app-date-input>
  <app-text-input [formControl]="city" [label]='"City"'></app-text-input>
  <app-text-input [formControl]="country" [label]='"Country"'></app-text-input>
  <app-text-input [formControl]="password" [label]='"Password"' [type]='"password"'></app-text-input>
  <app-text-input [formControl]="confirmPassword" [label]='"Confirm Password"' [type]='"password"'></app-text-input>
  @if(validationErrors.length > 0){
    <div class="row">
      <ul class="text-danger">
        @for(error of validationErrors; track error) {<li>{{error}}</li>}
      </ul>
  </div>
  }
  <div class="d-flex justify-content-center mb-4">
    <button [disabled]="!registerForm.valid" class="btn btn-primary btn-lg" style="margin-right: 7px;" type="submit">Register</button>
    <button class="btn btn-secondary btn-lg" type="button"(click)="cancel()">Cancel</button>
  </div>
</form>
